$primary: #0256b1;

@import "bootstrap";

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 70px 0;
}

.skills {
	&__skill {
		display: block;
		margin-top: 15px;

		&:first-child {
			margin-top: 0;
		}
	}

	.form-group {
		margin-bottom: 0;
	}
}

@media (min-width: 340px) { 
	.skills {
		width: 50%;
		float: left;
		position: relative;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

fieldset {
	padding: 15px;
}

legend {
	margin-bottom: 0;
}

.skill { 
	&.combat {
		background-color: #d9edf7;
	}

	&.magic {
		background-color: #f2dede;
	}

	&.stealth {
		background-color: #fcf8e3;
	}
}

#sex, #race, #birthsign, #specialization {
	width: auto;
}

#app {
	margin-bottom: 50px;
}

footer {
	text-align: center;
	margin: 0 auto;
	color: #666;
}

@media (min-width: 500px) { 
	footer {
		width: 75%;
	}
}

@media (min-width: 1000px) {
	footer {
		width: 50%;
	}
}

.command-row {
	margin-bottom: 15px;
}

.save-message {
	padding: 10px 20px;
	margin-left: 20px;
	display: inline-block;
}

