@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 50px 0;
}

a {
  color: #00B7FF;
}

.skills {
	&__skill {
		display: block;
		width: auto;
		margin-bottom: 10px;
	}
}

.character-planner {
	display: flex;
	flex-wrap: wrap;

	section {
		display: flex;
		justify-content: space-between;
		.form-group {
			flex: 1;
		}
	}

	.attributes {
		display: flex;
		justify-content: space-between;
		.form-group {
			flex: 1;
		}
		.form-control {
			width: auto;
		}
	}
}

.character {
}

fieldset {
	padding: 20px;
	flex: 1 1 auto;
}

legend {
	margin-bottom: 0;
}

.output {
	display: flex;
	flex-wrap: wrap;

	.attributes-tables {
		flex: 1 0 auto;
	}
	.skills-table {
		flex: 1 0 auto;
	}
}

.skill { 
	&.combat {
		background-color: #d9edf7;
	}

	&.magic {
		background-color: #f2dede;
	}

	&.stealth {
		background-color: #fcf8e3;
	}
}

