@import "bootstrap";

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 50px 0;
}

.skills {
	&__skill {
		display: block;
		margin-bottom: 15px;
	}
}

@media (min-width: 340px) { 
	.skills {
		width: 50%;
		float: left;
		position: relative;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

fieldset {
	padding: 20px;
}

legend {
	margin-bottom: 0;
}

.skill { 
	&.combat {
		background-color: #d9edf7;
	}

	&.magic {
		background-color: #f2dede;
	}

	&.stealth {
		background-color: #fcf8e3;
	}
}

#sex, #race, #birthsign, #specialization {
	width: auto;
}

