<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <link rel="stylesheet" href="/css/app.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Morrowind Tools</a>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div id="app" class="container">

        <div class="character-planner">
            <h1>Character Planner</h1>
            <fieldset>
                <label>
                    Sex
                    <select v-model="sex">
                        <option value=""></option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </label>
                <label>
                    Race
                    <select v-model="race">
                        <option v-for="option in races" :value="option">
                            {{ option.name }}
                        </option>
                    </select>
                </label>
            </fieldset>
            <fieldset>
                <label>
                    Birthsign
                    <select v-model="birthsign">
                        <option v-for="option in birthsigns" :value="option">
                            {{ option.name }}
                        </option>
                    </select>
                </label>
                <label>
                    Specialization
                    <select v-model="specialization">
                        <option value=""></option>
                        <option value="combat">Combat</option>
                        <option value="magic">Magic</option>
                        <option value="stealth">Stealth</option>
                    </select>
                </label>
            </fieldset>
            <fieldset>
                <label>Favored Attributes:</label>
                <br />

                <select v-for="attribute in favoredAttributes" track-by="$index" v-model="attribute">
                    <option v-for="option in attributes" :value="option">
                        {{ option | capitalize }}
                    </option>
                </select>
            </fieldset>
            <fieldset class="skills">
                <legend>Major Skills</legend>
                <select v-for="skill in majorSkills" track-by="$index" v-model="skill" class="skills__skill">
                    <option value=""></option>
                    <optgroup label="Combat">
                        <option v-for="(key, name) in skills.combat" :value="key">
                            {{ name | capitalize }}
                        </option>
                    </optgroup>
                    <optgroup label="Magic">
                        <option v-for="(key, name) in skills.magic" :value="key">
                            {{ name | capitalize }}
                        </option>
                    </optgroup>
                    <optgroup label="Stealth">
                        <option v-for="(key, name) in skills.stealth" :value="key">
                            {{ name | capitalize }}
                        </option>
                    </optgroup>
                </select>
            </fieldset>
            <fieldset class="skills">
                <legend>Minor Skills</legend>
                <select v-for="skill in minorSkills" track-by="$index" v-model="skill" class="skills__skill">
                    <option value=""></option>
                    <optgroup label="Combat">
                        <option v-for="(key, name) in skills.combat" :value="key">
                            {{ name | capitalize }}
                        </option>
                    </optgroup>
                    <optgroup label="Magic">
                        <option v-for="(key, name) in skills.magic" :value="key">
                            {{ name | capitalize }}
                        </option>
                    </optgroup>
                    <optgroup label="Stealth">
                        <option v-for="(key, name) in skills.stealth" :value="key">
                            {{ name | capitalize }}
                        </option>
                    </optgroup>
                </select>
            </fieldset>
        </div>

        <h4>Strength: {{ build.attributes.strength }}</h4>
        <h4>Intelligence: {{ build.attributes.intelligence }}</h4>
        <h4>Willpower: {{ build.attributes.willpower }}</h4>
        <h4>Agility: {{ build.attributes.agility }}</h4>
        <h4>Speed: {{ build.attributes.speed }}</h4>
        <h4>Endurance: {{ build.attributes.endurance }}</h4>
        <h4>Personality: {{ build.attributes.personality }}</h4>
        <h4>Luck: {{ build.attributes.luck }}</h4>

        <table>
        <tr v-for="skill in build.skills">
            <td>{{ skill.name }}</td>
            <td>{{ skill.value }}</td>
            <td>
                {{ skill.attribute }}
            </td>
        </tr>
        </table>


        <div class="abilities">
            This character has the following abilities:
            <ul>
                <li v-for="ability in build.abilities">
                    {{ ability }}
                </li>
            </ul>
        </div>

    </div>

    <script src="/js/app.js"></script>

</body>

</html>
