<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <link rel="stylesheet" href="/css/app.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Morrowind Tools</a>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div id="app" class="container">

        <div class="character-planner">
            <h1>Character Planner</h1>
            <fieldset>
                <label>
                    Sex
                    <select v-model="sex">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </label>
                <label>
                    Race
                    <select v-model="raceIndex">
                        <option v-for="race in races" :value="$index">
                            {{ race.name }}
                        </option>
                    </select>
                </label>
            </fieldset>
            <fieldset>
                <label>
                    Birthsign
                    <select v-model="birthsignIndex">
                        <option v-for="birthsign in birthsigns" :value="$index">
                            {{ birthsign.name }}
                        </option>
                    </select>
                </label>
                <label>
                    Specialization
                    <select v-model="specialization" options="specializations">
                        <option v-for="option in specializations" :value="option.value">
                            {{ option.text }}
                        </option>
                    </select>
                </label>
            </fieldset>
        </div>

        <h4>Strength: {{ build.stats.strength }}</h4>
        <h4>Intelligence: {{ build.stats.intelligence }}</h4>
        <h4>Willpower: {{ build.stats.willpower }}</h4>
        <h4>Agility: {{ build.stats.agility }}</h4>
        <h4>Speed: {{ build.stats.speed }}</h4>
        <h4>Endurance: {{ build.stats.endurance }}</h4>
        <h4>Personality: {{ build.stats.personality }}</h4>
        <h4>Luck: {{ build.stats.luck }}</h4>


        <div class="abilities">
            This character has the following abilities:
            <ul>
                <li v-for="ability in build.abilities">
                    {{ ability }}
                </li>
            </ul>
        </div>

    </div>

    <script src="/js/app.js"></script>

</body>

</html>
